:root {
    --primary-color: #fe3e57 !important;
    --text-color: #fff !important;
    --heading-black-color: #121127 !important;
    --heading-blue-color: #131058 !important;

    /* Set height */
    --header-height: 85px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    line-height: initial;
    -webkit-tap-highlight-color: transparent;
}

@font-face {
    font-family: Now-Bold;
    src: url(../../fonts/Now-Bold.otf);
}

html {
    position: relative;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-weight: 300;
    /* font-family: 'Quicksand', sans-serif;    */
    font-family: 'Quicksand', 'Helvetica', 'Arial' ,'Now-Bold', sans-serif;   
    color: #fff;
}

#main {
    overflow: hidden;
}

.flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Medium button */
.btn {
    min-width: 150px;
    height: 55px;
    background-color: #0d0b69;
    border: 1px solid var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

.btn a {
    font-size: 1.6rem;
    /* font-weight: 500; */
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
    border: none;
}

.btn:hover a {
    color: #fff;
}

/* Small button */
.btn-s {
    --side: 60px;
    min-width: var(--side);
    height: var(--side);
    background-color: transparent;
    border: 1px solid;
    border-radius: 20%;
    cursor: pointer;
}

.btn-s a {
    font-size: 2.8rem;
}

.btn-s + .btn-s {
    margin-left: 30px;
}

/* Large button */
.btn-l {
    --side: 120px;
    min-width: var(--side);
    height: var(--side);
    background-color: transparent;
    border: 1px solid;
    border-radius: 10%;
    cursor: pointer;
}

.btn-l a {
    font-size: 7rem;
}