/* Show section 1 */
.btn-1:focus {
    border-bottom: 2px solid #fff;
}

.btn-1:focus ~ .section-1 {
    display: block;
}

.btn-1:focus ~ .section-2,
.btn-1:focus ~ .section-3,
.btn-1:focus ~ .section-4,
.btn-1:focus ~ .section-5 {
    display: none;
}

/* Show sectin 2 */
.btn-2:focus {
    border-bottom: 2px solid #fff;
}

.btn-2:focus ~ .section-2 {
    display: block;
}

.btn-2:focus ~ .section-1,
.btn-2:focus ~ .section-3,
.btn-2:focus ~ .section-4,
.btn-2:focus ~ .section-5 {
    display: none;
}

/* Show section 3 */
.btn-3:focus {
    border-bottom: 2px solid #fff;
}

.btn-3:focus ~ .section-3 {
    display: block;
}

.btn-3:focus ~ .section-1,
.btn-3:focus ~ .section-2,
.btn-3:focus ~ .section-4,
.btn-3:focus ~ .section-5 {
    display: none;
}

/* Show section 4 */
.btn-4:focus {
    border-bottom: 2px solid #fff;
}

.btn-4:focus ~ .section-4 {
    display: block;
}

.btn-4:focus ~ .section-1,
.btn-4:focus ~ .section-2,
.btn-4:focus ~ .section-3,
.btn-4:focus ~ .section-5 {
    display: none;
}

/* Show section 5 */
.btn-5:focus {
    border-bottom: 2px solid #fff;
}

.btn-5:focus ~ .section-5 {
    display: block;
}

.btn-5:focus ~ .section-1,
.btn-5:focus ~ .section-2,
.btn-5:focus ~ .section-3,
.btn-5:focus ~ .section-4 {
    display: none;
}